@use "../../scss/variables.scss" as var;

.age-calculator {
  $normal-corner: 24px;
  $clipped-corner: 100px;

  background-color: var.$clr-white;
  width: 100%;
  height: fit-content;
  padding: 3.5em 1em;
  border-radius: $normal-corner $normal-corner $clipped-corner $normal-corner;
}

@media (min-width: var.$breakpoint-desktop) {
  .age-calculator {
    max-width: 52.5rem;
    min-height: 20rem;
    padding: 3.5em;
  }
}
